# Archivos generados que no deben versionarse.

# Dependencias
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Pruebas
/coverage
/tmp/

# Next.js
/.next/
/out/

# Compilaciones de producción
/build
/output/

# Archivos del sistema
.DS_Store
*.pem

# Registros de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next-dev.*.log

# Variables de entorno locales
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
